#spells {
	margin-top: 20px !important;
}

.loaded-spell {
	border: 1px solid lightgrey;
	min-height: 250px;
}

.upper {
	padding-bottom: 10px;
}

.middleOne {
	padding-bottom: 10px;
}

.middleTwo {
	padding-bottom: 10px;
}

.right-align {
	text-align: right;
}

.description {
	text-align: justify;
}

.defeat:hover {
	color: black !important;
}

#shift-back:hover {
	color: black !important;
}

#delete-player:hover {
	color: #337ab7 !important;
}

#delete-monster:hover {
	color: black !important;
}


input.has-issue {
	border: 1px solid #d66;
}

.issue {
	color: #d66;
	/*font-size: 0.8rem;*/
}
