.boxy {

}

.one {
  background-color: #1abc9c !important;

}

.two {
  background-color: #3498db !important;

}

.three {
  background-color: #9b59b6 !important;

}

.four {
  background-color: #e74c3c !important;
  /*height:*/
}
